@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Source+Sans+Pro:wght@400;600&display=swap');

@import '/css/vars.css';
@import '/css/forms.css';
@import '/css/layout.css';
@import '/css/reset.css';

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

body {
	box-sizing: border-box;
	font-family: var(--font-regular);
	overflow-x: hidden;
}

a {
	color: var(--color-gray-100);
	text-decoration: none;
}

a:visited {
	color: var(--color-gray-100);
}

h1, h2, h3, h4 {
	font-family: var(--font-alt);
}

.font-light {
	font-weight: 400;
}